/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2017, 5:54:35 PM
    Author     : seif
*/

#window{
    
     -fx-background-image: url("../images/metal.jpg") ;
     -fx-background-repeat: no-repeat;
     
      -fx-background-size:stretch;
     -fx-margin-top: 50px;
}
#key{
   -fx-graphic: url("../images/swithoff.png");
   -fx-background-color: transparent;
   -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
     
}